*{
    margin: 0px;
    padding: 0px;
    text-decoration: none !important;
    box-sizing: border-box;
}

body{
    background-image: url("../images/background_image.jpg");
    height: 100%;
    width: 100%;
}


.navbar-nav{
    margin-left: auto;
}

.navbar-brand, .navbar-nav a{
    color: white;
    padding: 0.5rem;
    border-radius: 10px;  
}

button.navbar-toggler{
    background-color: blue;
    width: 50px;
    margin: 0 0.5rem;
}

.my-container{
    width: 100vw;
    -moz-border-radius: 28px;
    -webkit-border-radius: 28px;
    border-radius: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;       
}

.History{
    width: 75vw;
    padding: 2.5% 5%;
    margin: 5% auto;
    background-color: white;
}


h1{
    margin: 1rem;
}

.History h1{
    text-align: center;
}

.icon{
    text-align: center;
}

.icon > i, label > i{
    color: white;
    background-color: darkblue;
    font-size: 2rem;
    padding: 0.5rem;
    margin: 0 5%;
}

.signout{
    font-size: 1rem;
}

.icon label{
    font-size: 1.2rem;
    font-weight: 500;
}

label{
    margin: 1rem -0.7rem;
}

table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
  }

th {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

tr:nth-child(even) {
    background-color: lightblue;
}

@media screen and (max-width: 768px) {
    .my-container{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-height: 610px) {
    .my-container{
        height: 100%;
    }
}

@media screen and (max-width: 425px) {
    .History > a{
        float: left;
    } 
}
